---
language: ruby
cache: bundler
bundler_args: --without test debugger
script: "bundle exec rake spec"
matrix:
  fast_finish: true
  include:
  - rvm: 2.1.2
  - rvm: 2.3.1
notifications:
  email: niklaus.giger@member.fsf.org
