-# coding: utf-8
%h1 Einige zusätzliche Informationen
%ul
  %li
    %p
      Den Quellcode für dieses Programm finden sie auf
      %a{:href => "https://github.com/elexis/elexis-cockpit/"} github
  %li
    %p Diese Webseite sollten sie nur auf dem Server selber oder mittels eines korrekt geschützten Zugangs erreichen, da sonst jemand die gesamten Daten einsehen kann!
  %li
    %p 
      Bevor Sie einen Bug-Report wegen eines Fehlers/Wunsches öffnen, vergewissern Sie sich bitte, ob das Problem nicht schon erkannt wurde.
      Wenn ja, finden Sie dort meistens zusätzliche Informationen und/oder Umgehungswege.
  %li
    %p 
      Falls Sie zusätzliche Wünsche haben, öffnen Sie unter 
      %a{:href => "https://github.com/elexis/elexis-cockpit/issues/"} issues
      einen Bugreport. Wenn Sie bereit dafür auch was zu zahlen, steigern Sie die Chance, ihren Wunsch erfüllt zu bekommen.
      
      
