%h2 Neue Elexis-Version installieren
%p Sie können entweder die Version von Medelexis, die OpenSource installieren.
%tr
  %td
    %p Falls die Version schon installiert ist, wird die Installation fehlschlagen.
    / %p Sie können wählen, ob auch unter /hom/samba eine Version für Windows-Benutzer installiert werden soll
  %br/

%tr
  %td
  - eInfo = Sinatra::ElexisHelpers.getElexisVersionen; 
  - if eInfo 
    %h2 Bitte gewünschte Elexis-Variante auswählen: 
    %section{:id=>"runInstallElexis"}
    - eInfo.each do | x|  name = x[:name]; path = x[:path] 
      %form{ :action => "/run_installElexis", :method => "post"}
        %p
        %p 
        %li          
          %strong #{name}
          %p 
            aus #{path}
          %p 
            %input{:type => 'hidden',    :name => "subdir",     :value => x[:subdir] }
            %input{:type => "checkbox",  :name => "withDemoDB", :value => "true"}
            ankreuzen, falls DemoDatenbank gewünscht)
          %p{:align => :right}
            %input{:type => "submit", :title=>"#{path}", :name => 'url', :value => "installieren"}
    %li
      %strong Oder 
      %form{ :action => "/run_installElexis", :method => "post",  :enctype =>'multipart/form-data'}
        Pfad für Installation angeben. /opt/
        %input{:type => 'input',     :name => "subdir",     :value => "elexis/eineVersion" }         
        %p 
          und Elexis-Installer-Datei auswählen
          %input{:type => 'file',      :name => "url",        :value => "/opt/downloads" }
          %p
          (
          %input{:type => "checkbox",  :name => "withDemoDB", :value => "true"} 
          ankreuzen, falls DemoDatenbank gewünscht)
          %p{:align => :right}
            %input{:type => "submit", :title=>"Jetzt installieren", :name => 'url', :value => "installieren"}
 