%h2 Beachten Sie beim Installieren Ihrer neuen Elexis-Version folgendes
%ol
  %li Sie können entweder die Version von Medelexis oder die OpenSource installieren.
  %li Die angezeigten Versionen kommen aus der Datei #{Sinatra::ElexisHelpers::Versions_URL}.
  %li Falls die Version schon installiert ist, wird die Installation fehlschlagen.
%p
%tr
  %td
  - eInfo = Sinatra::ElexisHelpers.getElexisVersionen; 
  - if eInfo 
    %h2 Bitte gewünschte Elexis-Variante auswählen: 
    %section{:id=>"runInstallElexis"}
    - eInfo.each do | x|  name = x[:name]; path = x[:path] 
      %form{ :action => "/run_installElexis", :method => "post"}
        %p
        %li          
          %strong #{name}
          <br>
          %input{:type => 'hidden',    :name => "url",        :value => x[:path] }
          %input{:type => 'hidden',    :name => "subdir",     :value => x[:subdir] }
          - if /opensource/i.match(name)
            DemoDatenbank gewünscht
            %input{:type => "checkbox",  :name => "withDemoDB", :value => "true", :title => 'Nur ankreuzen, falls DemoDatenbank gewünscht'}
            ?
          %input{:type => "submit", :title=>"#{name} installieren", :name => 'path', :value => "installieren"}
          aus
          - if /opensource/i.match(name)
            <br>
          #{path}
 